<div class="login-container">
  <h1 class="has-text-warning is-size-3-tablet has-text-centered">Connection</h1>
  <p class="m-md has-text-centered" [ngClass]="{ 'has-text-danger': error }">{{message || 'Bienvenue'}}</p>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
      <label class="label has-text-white-ter">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="john-doe@mail.com" id="email" formControlName="email">
        <div [hidden]="loginForm.get('email').valid || loginForm.get('email').pristine" class="has-text-danger is-italic">
          Un email valide est requis
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label has-text-white-ter">Mot de passe</label>
      <div class="control">
        <input class="input" type="password" placeholder="Votre mot de passe" id="password" formControlName="password">
        <div [hidden]="loginForm.get('password').valid || loginForm.get('password').pristine" class="has-text-danger is-italic">
          Un mot de passe valide est requis
        </div>
      </div>
    </div>

    <button class="button is-success is-fullwidth m-t-lg" [ngClass]="{ 'is-loading': pending }" [disabled]="!loginForm.valid || pending">Se connecter</button>
  </form>
</div>