@import 'src/sass/_variables.scss';

.ng-valid[required], .ng-valid.required  {
    border-left: 3px solid $success;
}
.ng-dirty.ng-invalid:not(form)  {
    border: 2px solid $danger;
}
:host {
    width: 100%;
    & .field {
        position: relative;
    }
}

.search-result {
    position: absolute;
    top: calc(40px + 34px);
    left: 0;
    z-index: 200;
    background-color: white;
    width: 100%;
    & ul {
        border: 1px solid lightgray;
    }
    & li {
        border-bottom: 2px solid lightgray;
        padding: 3px 8px;
        cursor: pointer;
    }
    & li:hover {
        background-color: lightgray;
    }
}