<div class="m-t-md is-inline-block">
    <span>Connecté en tant que:</span>
    <span class="is-size-5-desktop has-text-warning m-l-md">Admin</span>
</div>
<div class="admin-container">
    <nav id="admin-nav" class="is-inline-block">
        <a class="button is-rounded is-dark m-r-md m-t-lg is-size-7-touch"  routerLink="./reports" routerLinkActive="active">Observations</a>
        <a class="button is-rounded is-dark m-r-md m-t-lg is-size-7-touch"  routerLink="./users" routerLinkActive="active">Utilisateurs</a>
    </nav>
</div>
<router-outlet></router-outlet>
