@import 'src/sass/_variables.scss';

:host {
    width: 100%;
}
:host .container {
    width: 50%;
}
.loading_h {
    height: calc(100vh - 72px - #{$navheight})
}
.media-right .delete {
    background-color: #d80000;
}
.media-right .delete:hover {
    background-color: red;
}
@media screen and (max-width: 1360px) {
    :host .container  {
        width: 80%;
    }
}