<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/home">
            <img class="menu-icon" src="../assets/icons/binoculars.svg" width="112" height="28">
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu is-success">
        <div class="navbar-end">
          <a class="navbar-item" routerLink="/report" routerLinkActive="active">
            RECENSER
          </a>

          <a class="navbar-item" routerLink="/reports" routerLinkActive="active">
            MES OBSERVATIONS
          </a>

          <a class="navbar-item" routerLink="/animals-info" routerLinkActive="active">
            ANIMAUX
          </a>

          <a class="navbar-item">
            A PROPOS
          </a>
        </div>
    </div>
</nav>