@import 'src/sass/_variables.scss';

#navbarBasicExample .navbar-item.active {
    color: $tertiary;
    font-weight: 600;
}
#navbarBasicExample.is-active {
    background-color: black;
    & .navbar-item:hover {
        background-color: $primary;
        color: $secondary;
    }
}