<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/home">
            <img class="menu-icon" src="../assets/icons/binoculars.svg" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" [ngClass]="{ 'is-active': menuSelected }" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" (click)="menuSelected = !menuSelected">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu is-success" [ngClass]="{ 'is-active': menuSelected }" >
        <div class="navbar-end">
          <a class="navbar-item" routerLink="/report" routerLinkActive="active" (click)="menuSelected = false" *ngIf="isLoggedIn$ | async">
            RECENSER
          </a>

          <a class="navbar-item" routerLink="/reports" routerLinkActive="active" (click)="menuSelected = false" *ngIf="isLoggedIn$ | async">
            MES OBSERVATIONS
          </a>

          <a class="navbar-item" routerLink="/animals-info" routerLinkActive="active" (click)="menuSelected = false">
            ANIMAUX
          </a>

          <a class="navbar-item" routerLink="/admin/users" routerLinkActive="active" (click)="menuSelected = false" *ngIf="isLoggedIn$ | async">
            ADMIN
          </a>

          <a class="navbar-item" routerLink="/login" routerLinkActive="active" (click)="menuSelected = false" *ngIf="!(isLoggedIn$ | async)">
            SE CONNECTER
          </a>

          <a class="navbar-item" routerLink="/register" routerLinkActive="active" (click)="menuSelected = false" *ngIf="!(isLoggedIn$ | async)">
            CRÉER UN COMPTE
          </a>

          <div class="navbar-item has-dropdown is-hoverable" *ngIf="isLoggedIn$ | async">
            <a class="navbar-link">
              {{ currentUser.username }}
            </a>
            <div class="navbar-dropdown is-boxed" style="left: -20px;">
              <a class="navbar-item" style="padding: 5px 10px;" (click)="logout()">
                Se déconnecter
              </a>
            </div>
          </div>
        </div>
    </div>
</nav>