body {
    overflow: hidden;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    a {
        outline: 0;
    }
    button:focus{
        outline: none;   
    }
    input::-moz-focus-inner { border: 0; } 
}