@import 'src/sass/_variables.scss';

.home__container {
    background: linear-gradient(90deg, #000 2%, transparent), url('src/assets/images/home.jpg');
    height: calc(100vh - 52px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: $secondary;
    & .home__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        margin-left: 10%;
        & .home__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 90px;
        }
        & .home__description {
            margin-top: 5%;
            text-align: left;
        }
        & #home__btn {
            font-size: 18px;
            font-weight: bold;
            margin-top: 10%;
            width: 300px;
        }
    }
}
@media screen and (max-width: 768px) {
    .home__container {
        background-position: 0%, 80%; // depending on home.jpg
        & .home__text {
            width: 100%;
            margin: 5%;
        }
        & .home__title {
            margin-bottom: 10%;
        }
    }
}