.home__container {
    background: linear-gradient(90deg, #000 2%, transparent), url('src/assets/images/deer.jpg');
    height: calc(100% - 52px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: rgb(240, 238, 238);
    & .home__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        margin-left: 10%;
        & .home__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 90px;
        }
        & .home__description {
            margin-top: 5%;
            text-align: left;
        }
        & #home__btn {
            font-size: 18px;
            font-weight: bold;
            margin-top: 7%;
            width: 300px;
        }
    }
}