<div class="home__container">
    <div class="home__text">
        <p class="home__title is-size-1-touch">Recenser,
            <br>
            c'est préserver.
        </p>

        <div class="home__description">
            <p>Bienvenue. L'heure est à la biodiversité. Il est important de veuiller sur notre écosystème.</p>
            <p>C'est pourquoi il est fondamental d'établir un état des lieux de notre faune. Notamment nos espèces les plus courantes.</p>
            <p>Rejoignez-nous et laissez-nous vos observations de mammifères régionaux, sans les perturber.</p>
        </div>

        <button id="home__btn" class="button is-warning is-rounded" routerLink="/report">Émettre une observation</button>
    </div>
</div>